/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Instrument+Serif&family=Poppins:wght@300;400&display=swap');

/* VARIABLES */
:root {
    --textcolor: whitesmoke;
    --bordercolor: whitesmoke;
    --bodycolor: #d4d3d3;
    --bfs: 1rem;
    --ff: 'Poppins', sans-serif;
    --hff: 'Bebas Neue', sans-serif;
    --bgcolor: #F8F4EC;
    --hcolor: #3B3486;
    --navbgcolor: #030637;
    --footerbgcolor: #030637;
}

/* GENERAL STYLES */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    width: 100%;
    font-family: var(--ff);
    background-color: var(--bgcolor);
}

a {
    text-decoration: none;
    color: var(--textcolor);
    font-size: 1rem;
}

img {
    display: block;
    width: 100%;
}

ul {
    list-style-type: none;
}

ul li {
    text-transform: uppercase;
}

.background {
    z-index: -999;
    position: relative;
    height: 100vh;
}

/* END OF GENRERAL STYLES */

/* UTILITY CLASSES */
.underline {
    height: 0.4rem;
    width: 12rem;
    margin-right: auto;
    margin-left: auto;
    background: darkturquoise;
    margin-bottom: 0.5rem;
}

.pointer {
    width: 3rem;
    height: 3rem;
    background-color: white;
    border: 2px solid transparent;
    position: fixed;
    top: 90%;
    left: 94%;
    border-radius: 50%;
    display: grid;
    place-content: center;
}

.nowrap {
    white-space: nowrap;
}

/* END OF UTILITY CLASSES */

.header {
    width: 100%;
    height: 100vh;
}

.img-background {
    width: 100%;
    height: 100vh;
}

.header::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(29, 29, 29, 0.4);
    z-index: -1;
}

.nav-header {
    position: absolute;
    top: 0;
    left: 0;
    height: 12vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-flow: row nowrap;
    padding: 2.25rem;
    z-index: 1;
}

.logo {
    height: 4rem;
    width: 4rem;
}

.btn {
    background: transparent;
    border: 2px solid var(--bordercolor);
    padding: 0.5rem;
    border-radius: 6px;
    width: 10rem;
}

.btn-white {
    margin-top: 0.5rem;
    backdrop-filter: blur(2px);    
}

.btn-white:hover {
    padding: 0.75rem;
}

.btn-white:active {
    backdrop-filter: blur(4px);
}

.links-container {
    width: 100%;
    height: auto;
    background-color: var(--navbgcolor);
    position: absolute;
    top: 12%;
    left: 0%;
    visibility: hidden;
}

.links-container .links li {
    display: block;
    border-bottom: 2px solid whitesmoke;
    padding: 0.75rem;
    text-align: center;
}

.links-container .links li:hover {
    padding: 1rem;
}

.nav-toggle {
    background: transparent;
    border: none;
}

.banner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--textcolor);
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column nowrap;
    text-align: center;
}

.container h1 {
    font-size: 4rem;
    text-transform: uppercase;
    letter-spacing: 6px;
}

.hero-section {
    height: 100vh;
    margin-bottom: 1rem;
}

.hero-header {
    background-color: var(--hcolor);
    height: 20%;
    font-family: var(--hff);
    font-size: 3.5rem;
    font-weight: 500;
    display: grid;
    place-content: center;
    text-transform: uppercase;
    color: var(--bgcolor);
    letter-spacing: 0.25rem;
}

.body-container {
    margin: 1rem;
    background-color: var(--bodycolor);
    box-shadow: 0px 2px 5px 3px rgba(0, 0, 0, 0.6);
    height: 78%;
}

.footer {
    width: 100%;
    height: 30vh;
    background-color: var(--footerbgcolor);
    display: flex;
    color: var(--bgcolor);
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-evenly;
}

.footer-icon {
    font-size: 1rem;
    color: var(--bodycolor);
}

.icon-logo {
    width: 6rem;
    height: auto;
}